body {
  font-family: Arial, Helvetica, sans-serif;

  background-color: pink;
  background-repeat: no-repeat;

  background-image: url("images/poppies.jpg");
}

h1 {
  color: rgb(135, 135, 135);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  text-align: left;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 18px;
}

.weather-app-wrapper {
  max-width: 630px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #7990b6;
  border-radius: 10px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;

  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}

.btn-primary {
  background-color: goldenrod;
  border: gray;
}

.btn-success {
  background-color: orangered;
  border: gray;
}

#current-conditions {
  text-transform: capitalize;
}

/* another option if using li element
li:first-letter {
  text-transform: capitalize;
} */

.hyperlink-line {
  text-decoration: none;
}

.hyperlink-line:hover {
  text-decoration: none;
}

#credit {
  font-size: smaller;
}
